<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Preview</title>
		<link rel="stylesheet" type="text/css" href="{{ static('styles/main.css') }}" />
	</head>
	<body>
		{{ yield | raw }}
	</body>
</html>